@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/Visit-uae/Images/uae-bk.jpg');
    background-size: cover;
    background-position: center;
    min-height: 200px;
    min-height: 300px;
    padding: 30px 0 150px 0;
    text-shadow: 0 0 2px black;
    border-radius: 10px 10px 0 0;
}

.hero-title {
    background: #a8c1d2d3;
    margin-top: 100px;
    margin-bottom: 10px;
    padding: 2px 8px;
    border-radius: 10px;
    color: #f5f5dc;
}

.hero-desc {
    background: #1d4057d1;
    margin-top: 10px;
    max-width: 480px;
    padding: 8px 5px;
    border-radius: 10px;
    color: #f5f5dc;
    font-size: 12px;
    font-weight: bold;
}

#activities {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 40px 20px;
    background: linear-gradient(180deg, #f0f8ff 0%, #fff 100%);
}

#activities h2 {
    width: 100%;
    justify-content: center;
    margin: 10px 0 30px 0;
    color: #1a237e;

}

.activity-card {
    width: 260px;
    padding: 20px;
    background: linear-gradient(135deg, #e3f2fd 0%, #fff8e1 100%);
    transform: translateY(-8px);
    border-radius: 10px;
}

.activity-card:hover {
    transform: translateY(-12px) scale(1.03);
    box-shadow: 0 15px 30px rgba(30, 136, 229, 0.25);
}

.activity-img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #fff8e1;
}

.activity-card h3 {
    margin-top: 10px;
    margin-bottom: 12px;
    color: #1a237e;
}

.activity-card p {
    margin-top: 0px;
    color: #546e7e;
    font-size: 16px;
    line-height: 1.6;
    
}

.guide-img {
    width: 130px;
    height: 170px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 10px;
}

.guide-section {
    width: 500px;
    margin: 0 auto;
    display: flex;
    padding: 20px;
    justify-content: space-around;
    background: linear-gradient(135deg, #e3f2fd 0%, #fff8e1 100%);
    transform: translateY(-8px);
    border-bottom: 6px solid #546e7e;
    border-radius: 10px;
}

.guide-section:hover {
    transform: translateY(-12px) scale(1.03);
    box-shadow: 0 15px 30px rgba(30, 136, 229, 0.25);
}

.guide-section > div {
    width: 250px;
    /* margin-top: 0; */
}

.guide-section h1 {
    margin-top: 0;
    margin-bottom: 8px;
    color: #1a237e;
}

.guide-section p {
    margin-top: 0;
    margin-bottom: 7px;
    color: #546e7e;
    line-height: 1.3;
}

.guide-section h3 {
    color: #1a237e;
    margin-top: 0;
    margin-bottom: 5px;
}